@import url('https://fonts.googleapis.com/css?family=Michroma&display=serif');

body {
   font-family: Michroma, serif;
   background: linear-gradient(90deg, #092092 0%, #0e0b0b 100%);
}

p {
   color: aquamarine;
}

.nav-link {
   color: rgb(241, 12, 12);
}

.navbar-nav .nav-link.active {
   color: rgb(222, 204, 11);
}

.navbar-brand img {
   width: 85px;
}

.navbar-toggler {
   background-color: rgb(222, 204, 11);
}

.sidebar {
   color: rgb(16, 34, 173);
   background: linear-gradient(270deg, #0f194e 0%, #0e0b0b 100%);

}

.card {
   background: linear-gradient(270deg, #092092 2%, #0e0b0b 100%);
}

.card a {
   text-decoration: none;
   color: rgb(16, 34, 173);
}

.card-text,
.card-title {
   color: rgb(16, 34, 173);
}

.slide-text,
.footer-text {
   color: rgb(16, 34, 173);
   margin: auto auto;
}


footer,
.btn-primary {
		color: rgb(16, 34, 173);
		background: linear-gradient(270deg, #0f194e 0%, #0e0b0b 100%);
	 

}

.call{
   animation: call 3s ease 0s infinite normal forwards;
}

.media-links {
   display: flex;
   justify-content: center;
   align-items: center;
}

@keyframes call {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 100%;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}

@media (max-width: 755px) {
   .carousel-indicators {
      display: none;
   }
}
